/build/
/out/
/cmake-build-*/
/.vs/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile.local
example_all_functions
example_all_functions.exe
*.o
*.obj
*.dll
*.so
*.dylib
!c-abi-edifabric_x12_tools.h
edifabric.log
.DS_Store
/.vscode
